section#container {
  display: grid;
  grid-template-areas: 'menu view';
  grid-template-columns: 200px 1fr;
  grid-template-rows: 1fr;
}

aside {
  grid-area: menu;
}

main {
  grid-area: view;
  background-color: cornflowerblue;
}
