<section id="container">
  <aside>
      <ul class="list-group">
        <a *ngFor="let link of links" class="list-group-item list-group-item-action" routerLinkActive="active" aria-current="true" [routerLink]="link.route">
          {{link.name}}
        </a>
      </ul>

      <div class="btn-group" role="group" aria-label="Button navigation">
        <a *ngFor="let link of links" class="btn btn-outline-primary" routerLinkActive="active" [routerLink]="link.route">
          {{link.name}}
        </a>
      </div>
  </aside>

  <main>
    <router-outlet></router-outlet>
  </main>
</section>

